.btn {
  border-width: 2px;
}
body {
  font-family: Epilogue;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3.2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.8rem 1.8rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #00004c !important;
}
.bg-success {
  background-color: #64bf46 !important;
}
.bg-info {
  background-color: #ff526b !important;
}
.bg-warning {
  background-color: #ffaa40 !important;
}
.bg-danger {
  background-color: #cccccc !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #00004c !important;
  border-color: #00004c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #30c7bf !important;
  border-color: #30c7bf !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #1f817c !important;
  border-color: #1f817c !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1f817c !important;
  border-color: #1f817c !important;
}
.btn-info,
.btn-info:active {
  background-color: #ff526b !important;
  border-color: #ff526b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #fa0024 !important;
  border-color: #fa0024 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #fa0024 !important;
  border-color: #fa0024 !important;
}
.btn-success,
.btn-success:active {
  background-color: #64bf46 !important;
  border-color: #64bf46 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #42812d !important;
  border-color: #42812d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #42812d !important;
  border-color: #42812d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffaa40 !important;
  border-color: #ffaa40 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #e88100 !important;
  border-color: #e88100 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e88100 !important;
  border-color: #e88100 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #4d4d4d !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a1a1a1 !important;
  border-color: #a1a1a1 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #4d4d4d !important;
  background-color: #a1a1a1 !important;
  border-color: #a1a1a1 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #00004c;
  color: #00004c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background-color: #00004c !important;
  border-color: #00004c !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #00004c !important;
  border-color: #00004c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #30c7bf;
  color: #30c7bf;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background-color: #30c7bf !important;
  border-color: #30c7bf !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #30c7bf !important;
  border-color: #30c7bf !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ff526b;
  color: #ff526b;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background-color: #ff526b !important;
  border-color: #ff526b !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff526b !important;
  border-color: #ff526b !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #64bf46;
  color: #64bf46;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background-color: #64bf46 !important;
  border-color: #64bf46 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #64bf46 !important;
  border-color: #64bf46 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffaa40;
  color: #ffaa40;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background-color: #ffaa40 !important;
  border-color: #ffaa40 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffaa40 !important;
  border-color: #ffaa40 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #00004c !important;
}
.text-secondary {
  color: #30c7bf !important;
}
.text-success {
  color: #64bf46 !important;
}
.text-info {
  color: #ff526b !important;
}
.text-warning {
  color: #ffaa40 !important;
}
.text-danger {
  color: #cccccc !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #1c7570 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #3c7629 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #eb0022 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #d97800 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #999999 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #00004c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff526b;
}
.alert-warning {
  background-color: #ffaa40;
}
.alert-danger {
  background-color: #cccccc;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #00004c;
  border-color: #00004c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #00004c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3232ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b3e0a5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #00004c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #00004c;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #00004c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #00004c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #00004c;
  border-bottom-color: #00004c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #00004c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #30c7bf !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2300004c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tD6d40gCgG .navbar-dropdown {
  position: relative !important;
}
.cid-tD6d40gCgG .navbar-dropdown {
  position: absolute !important;
}
.cid-tD6d40gCgG .navbar-brand {
  border-left: 4px solid #00004c;
  flex-shrink: 0;
  padding: 0;
  padding-left: 1rem !important;
  align-items: center;
  margin-right: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tD6d40gCgG .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tD6d40gCgG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tD6d40gCgG .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0;
}
.cid-tD6d40gCgG .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tD6d40gCgG .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tD6d40gCgG .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tD6d40gCgG .dropdown-item:hover,
.cid-tD6d40gCgG .dropdown-item:focus {
  background: #00004c !important;
  color: white !important;
}
.cid-tD6d40gCgG .dropdown-item:hover span {
  color: white;
}
.cid-tD6d40gCgG .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tD6d40gCgG .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tD6d40gCgG .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tD6d40gCgG .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tD6d40gCgG .nav-link {
  position: relative;
}
.cid-tD6d40gCgG .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tD6d40gCgG .container {
    flex-wrap: nowrap;
  }
}
.cid-tD6d40gCgG .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tD6d40gCgG .dropdown-menu,
.cid-tD6d40gCgG .navbar.opened {
  background: #6d146f !important;
}
.cid-tD6d40gCgG .nav-item:focus,
.cid-tD6d40gCgG .nav-link:focus {
  outline: none;
}
.cid-tD6d40gCgG .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tD6d40gCgG .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tD6d40gCgG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tD6d40gCgG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tD6d40gCgG .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tD6d40gCgG .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tD6d40gCgG .navbar {
  min-height: 80px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(109, 20, 111, 0);
}
.cid-tD6d40gCgG .navbar.opened {
  transition: all 0.3s;
}
.cid-tD6d40gCgG .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tD6d40gCgG .navbar .navbar-logo img {
  width: auto;
}
.cid-tD6d40gCgG .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tD6d40gCgG .navbar.collapsed {
  justify-content: center;
}
.cid-tD6d40gCgG .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tD6d40gCgG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tD6d40gCgG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tD6d40gCgG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tD6d40gCgG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tD6d40gCgG .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tD6d40gCgG .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tD6d40gCgG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tD6d40gCgG .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tD6d40gCgG .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tD6d40gCgG .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tD6d40gCgG .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tD6d40gCgG .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tD6d40gCgG .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tD6d40gCgG .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tD6d40gCgG .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tD6d40gCgG .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tD6d40gCgG .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tD6d40gCgG .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tD6d40gCgG .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tD6d40gCgG .navbar.navbar-short {
  min-height: 70px;
}
.cid-tD6d40gCgG .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tD6d40gCgG .dropdown-item.active,
.cid-tD6d40gCgG .dropdown-item:active {
  background-color: transparent;
}
.cid-tD6d40gCgG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tD6d40gCgG .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tD6d40gCgG .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tD6d40gCgG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #6d146f;
}
.cid-tD6d40gCgG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tD6d40gCgG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tD6d40gCgG ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tD6d40gCgG .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tD6d40gCgG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tD6d40gCgG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #00004c;
}
.cid-tD6d40gCgG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tD6d40gCgG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tD6d40gCgG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tD6d40gCgG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tD6d40gCgG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tD6d40gCgG nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tD6d40gCgG nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tD6d40gCgG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tD6d40gCgG .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tD6d40gCgG a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tD6d40gCgG .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tD6d40gCgG .navbar {
    height: 80px;
  }
  .cid-tD6d40gCgG .navbar.opened {
    height: auto;
  }
  .cid-tD6d40gCgG .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tD6cYuYhof {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/background1.jpg");
  background-size: calc(50% - 1rem);
  background-position: right;
  background-color: #ffdacd;
}
@media (max-width: 992px) {
  .cid-tD6cYuYhof {
    background-size: cover;
    background-position: center;
  }
}
.cid-tD6d91ymXX {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #ffed91;
}
.cid-tD6d91ymXX .link {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.cid-tD6d91ymXX .link .mbr-iconfont {
  font-size: 16px;
  width: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.cid-tD6d91ymXX .link:hover {
  transform: translatex(10px);
}
.cid-tD6d91ymXX .card {
  margin-bottom: 4rem;
}
.cid-tD6d91ymXX img {
  height: 200px;
  object-fit: cover;
}
.cid-tD6dI4S7EJ {
  padding-top: 105px;
  padding-bottom: 30px;
  background-color: #fffaee;
}
.cid-tD6dI4S7EJ img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tD6dI4S7EJ img {
    width: 100%;
  }
}
.cid-tD6dI4S7EJ .link {
  text-decoration: underline;
}
.cid-tD6dI4S7EJ .tag-wrapper {
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .cid-tD6dI4S7EJ .tag-wrapper {
    justify-content: center;
  }
}
.cid-tD6dI4S7EJ .tag {
  padding: 6px 16px;
  padding-top: 9px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: fit-content;
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tD6dI4S7EJ .tag {
    margin: 0 0.5rem;
    margin-bottom: 1rem;
  }
}
.cid-tD6dI4S7EJ .tag1 {
  background: #30c7bf;
}
.cid-tD6dI4S7EJ .tag2 {
  background: #fc898c;
}
.cid-tD6dI4S7EJ .tag3 {
  background: #00004c;
}
.cid-tD6dI4S7EJ .tag4 {
  background: #30c7bf;
}
.cid-tD6dI4S7EJ .tag5 {
  background: #fc898c;
}
.cid-tD6dI4S7EJ .mbr-section-title {
  color: #00004c;
}
.cid-tD6da6lVOC {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fffaee;
}
.cid-tD6da6lVOC .item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #00004c;
}
.cid-tD6da6lVOC .row {
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1rem;
}
.cid-tD6da6lVOC .row div {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-tD6da6lVOC .top-row {
    display: none;
  }
}
@media (max-width: 767px) {
  .cid-tD6da6lVOC .col-sm-6 {
    width: 50%;
  }
}
.cid-tD6da6lVOC .mbr-text1 {
  color: #00004c;
}
.cid-tD6da6lVOC .mbr-text2 {
  color: #00004c;
}
.cid-tD6da6lVOC .mbr-text3 {
  color: #00004c;
}
.cid-tD6dcgeCWZ {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #fed1c3;
}
.cid-tD6dcgeCWZ img {
  object-fit: cover;
  width: 90%;
}
@media (max-width: 992px) {
  .cid-tD6dcgeCWZ img {
    width: 100%;
  }
}
.cid-tD6de3o305 {
  padding-top: 6rem;
  padding-bottom: 8rem;
  background-color: #fffaee;
}
.cid-tD6de3o305 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tD6de3o305 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tD6de3o305 .accordion .mbr-iconfont {
  font-size: 1rem !important;
  font-family: 'Moririse2' !important;
  color: #00004c;
  transform: rotate(0deg) !important;
  margin-left: 1rem;
  padding: 8px;
  border-radius: 50%;
}
.cid-tD6de3o305 .accordion .panel-title[aria-expanded="true"] .mbr-iconfont {
  transform: rotate(0deg) !important;
}
.cid-tD6de3o305 .col-title {
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .cid-tD6de3o305 .col-title {
    margin-bottom: 40px;
  }
}
.cid-tD6de3o305 .mbr-section-title {
  color: #00004c;
}
@media (max-width: 991px) {
  .cid-tD6de3o305 .mbr-section-title {
    text-align: center !important;
  }
}
.cid-tD6de3o305 .mbr-section-subtitle {
  color: #00004c;
  margin-top: 14px;
}
@media (max-width: 991px) {
  .cid-tD6de3o305 .mbr-section-subtitle {
    margin-top: 16px;
    text-align: center !important;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cid-tD6de3o305 .accordion-row {
    margin: 0 -10px !important;
  }
}
.cid-tD6de3o305 .accordion-title-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 0 !important;
}
@media (max-width: 991px) {
  .cid-tD6de3o305 .accordion-title-container {
    display: none;
  }
}
.cid-tD6de3o305 .accordion-title {
  padding: 0 20px;
  width: 50%;
  color: #00004c;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cid-tD6de3o305 .accordion-title {
    padding: 0 10px;
  }
}
.cid-tD6de3o305 .panel-group {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0 !important;
}
.cid-tD6de3o305 .card {
  width: 50%;
  padding: 0 20px !important;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cid-tD6de3o305 .card {
    padding: 0 10px !important;
  }
}
@media (max-width: 991px) {
  .cid-tD6de3o305 .card {
    width: 100%;
  }
}
.cid-tD6de3o305 .card-border-top {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-tD6de3o305 .card-border-top2 {
    display: none;
  }
}
.cid-tD6de3o305 .card-header {
  border-bottom: none !important;
  padding: 10px 0 !important;
}
.cid-tD6de3o305 .card-header .panel-title[aria-expanded="true"] .mbr-iconfont {
  transform: rotate(0deg);
}
.cid-tD6de3o305 .panel-body {
  padding-bottom: 20px;
}
.cid-tD6de3o305 .panel-text {
  margin-bottom: 20px !important;
  color: #00004c;
}
.cid-tD6de3o305 .panel-title {
  display: flex;
  align-items: center;
}
.cid-tD6de3o305 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tD6de3o305 .panel-title-edit {
  color: #00004c;
  text-align: center;
}
.cid-tD6deXBg4H {
  padding-top: 120px;
  padding-bottom: 75px;
  background-color: #ffcda4;
}
.cid-tD6deXBg4H .link {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.cid-tD6deXBg4H .link .mbr-iconfont {
  font-size: 16px;
  width: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.cid-tD6deXBg4H .link:hover {
  transform: translatex(10px);
}
.cid-tD6deXBg4H .card {
  margin-bottom: 4rem;
}
.cid-tD6deXBg4H img {
  max-height: 280px;
  object-fit: cover;
}
.cid-tD6dg14G7T {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tD6dg14G7T .iconfont-wrapper,
.cid-tD6dg14G7T .amp-iconfont {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
  color: #3beed5;
}
.cid-tD6dg14G7T .iconfont-wrapper {
  padding: 0 12px;
}
.cid-tD6dg14G7T .flex {
  display: flex;
}
.cid-tD6dg14G7T .flex,
.cid-tD6dg14G7T h3 {
  width: fit-content;
}
@media (max-width: 767px) {
  .cid-tD6dg14G7T .flex,
  .cid-tD6dg14G7T h3 {
    flex-direction: column;
  }
}
.cid-tD6dg14G7T .icons-list {
  display: flex;
  align-items: center;
  width: 150px;
  padding-left: 0.8rem;
}
@media (max-width: 767px) {
  .cid-tD6dg14G7T .icons-list {
    padding: 1rem 0;
    margin: auto;
  }
}
.cid-tD6dmnda6z {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #fed1c3;
}
.cid-tD6dmnda6z .mbr-fallback-image.disabled {
  display: none;
}
.cid-tD6dmnda6z .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tD6dmnda6z img {
  object-fit: cover;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .cid-tD6dmnda6z img {
    width: 200px;
    height: 200px;
  }
}
.cid-tD6dmnda6z a {
  text-decoration: underline;
  font-weight: bold;
}
.cid-tD6dgVKcZB {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #00004c;
}
.cid-tD6dgVKcZB .container {
  max-width: 1000px;
}
.cid-tD6dgVKcZB img {
  opacity: 0.8;
  max-width: 140px;
  object-fit: contain;
}
.cid-tD6dgVKcZB .image-block {
  max-width: 140px;
  margin: auto;
  margin-bottom: 2rem;
}
.cid-tD6dgVKcZB img {
  filter: invert(1);
}
.cid-tD6doBIrPw {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #fffaee;
}
.cid-tD6doBIrPw .mbr-fallback-image.disabled {
  display: none;
}
.cid-tD6doBIrPw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tD6doBIrPw .card-wrapper {
  background: #ffdacd;
  padding: 3rem;
}
.cid-tD6doBIrPw .card-wrapper a {
  text-decoration: underline;
  font-weight: bold;
}
@media (max-width: 767px) {
  .cid-tD6doBIrPw .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-tD6dhWWhzV {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tD6dhWWhzV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tD6dhWWhzV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tD6dhWWhzV .contects {
  line-height: 2;
}
.cid-tD6diC4jmj {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #ffed91;
}
.cid-tD6diC4jmj .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tD6diC4jmj .btn {
  border-radius: 2rem;
  padding: 1rem 3rem;
}
.cid-tD6diC4jmj .col-auto {
  margin: auto;
  padding-top: 2rem;
}
.cid-tD6diC4jmj h5 {
  padding-bottom: 2rem;
}
.cid-tD6diC4jmj .form-control,
.cid-tD6diC4jmj .field-input {
  padding: 0.5rem;
  border: 0 !important;
  border-bottom: 1px solid #48525c !important;
  color: #00004c;
  transition: 0.4s;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  outline: none;
}
.cid-tD6diC4jmj .form-control::-webkit-input-placeholder,
.cid-tD6diC4jmj .field-input::-webkit-input-placeholder,
.cid-tD6diC4jmj .form-control::-webkit-input-placeholder,
.cid-tD6diC4jmj .field-input::-webkit-input-placeholder {
  color: #00004c;
}
.cid-tD6diC4jmj .form-control:-moz-placeholder,
.cid-tD6diC4jmj .field-input:-moz-placeholder,
.cid-tD6diC4jmj .form-control:-moz-placeholder,
.cid-tD6diC4jmj .field-input:-moz-placeholder {
  color: #00004c;
}
.cid-tD6diC4jmj .form-control:hover,
.cid-tD6diC4jmj .field-input:hover,
.cid-tD6diC4jmj .form-control:focus,
.cid-tD6diC4jmj .field-input:focus {
  border: 0 !important;
  border-bottom: 1px solid #48525c !important;
  color: #00004c;
  box-shadow: none;
  outline: none;
}
.cid-tD6diC4jmj .form-control:hover::-webkit-input-placeholder,
.cid-tD6diC4jmj .field-input:hover::-webkit-input-placeholder,
.cid-tD6diC4jmj .form-control:focus::-webkit-input-placeholder,
.cid-tD6diC4jmj .field-input:focus::-webkit-input-placeholder,
.cid-tD6diC4jmj .form-control:hover::-webkit-input-placeholder,
.cid-tD6diC4jmj .field-input:hover::-webkit-input-placeholder,
.cid-tD6diC4jmj .form-control:focus::-webkit-input-placeholder,
.cid-tD6diC4jmj .field-input:focus::-webkit-input-placeholder {
  color: #00004c;
}
.cid-tD6diC4jmj .form-control:hover:-moz-placeholder,
.cid-tD6diC4jmj .field-input:hover:-moz-placeholder,
.cid-tD6diC4jmj .form-control:focus:-moz-placeholder,
.cid-tD6diC4jmj .field-input:focus:-moz-placeholder,
.cid-tD6diC4jmj .form-control:hover:-moz-placeholder,
.cid-tD6diC4jmj .field-input:hover:-moz-placeholder,
.cid-tD6diC4jmj .form-control:focus:-moz-placeholder,
.cid-tD6diC4jmj .field-input:focus:-moz-placeholder {
  color: #00004c;
}
.cid-tD6diC4jmj .jq-number__spin:hover,
.cid-tD6diC4jmj .jq-number__spin:focus {
  border-bottom: 1px solid #48525c !important;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-tD6diC4jmj .jq-number__spin {
  border-bottom: 1px solid #48525c !important;
  color: #00004c;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tD6diC4jmj textarea {
  min-height: 200px;
}
.cid-tD6diC4jmj input::-webkit-clear-button {
  display: none;
}
.cid-tD6diC4jmj input::-webkit-inner-spin-button {
  display: none;
}
.cid-tD6diC4jmj input::-webkit-outer-spin-button {
  display: none;
}
.cid-tD6diC4jmj input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-tD6diC4jmj LABEL {
  color: #767676;
}
.cid-tD6diC4jmj H5 {
  text-align: center;
}
.cid-tD6djIBApj {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tD6djIBApj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tD6djIBApj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tD6djIBApj .google-map {
  height: 35rem;
  position: relative;
}
.cid-tD6djIBApj .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tD6djIBApj .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tD6djIBApj .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tD6djIBApj .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tD6djIBApj .mbr-section-title {
  color: #00004c;
}
.cid-tD6dk4KVfV {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #00004c;
}
.cid-tD6dk4KVfV img {
  width: 80px;
  object-fit: contain;
}
.cid-tD6dk4KVfV .image-block {
  width: 80px;
  margin: auto;
}
.cid-tD6dk4KVfV img {
  filter: invert(1) brightness(10);
}
.cid-tD6dk4KVfV .text {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tD6dk4KVfV .text {
    padding-bottom: 2rem;
  }
}
